@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-darkblue: #062D57;
  --color-mainbody: #314158;
  --color-bodylight: #62748E;
  --color-lightblue: #F4F9FF;
  --gradient-primary: linear-gradient(131.31deg,
      #007BFF 50.33%,
      #00D4FF 100.33%);
}






@layer components {

  .heading-xl {
    @apply 2xl:text-[80px] lg:text-[60px] sm:text-4xl text-4xl font-medium !leading-tight gradient-text-animate;
  }
  .heading-lg {
    @apply text-2xl sm:text-3xl 2xl:text-5xl lg:text-4xl sm:font-normal font-semibold text-slate-900 !leading-normal;
  }

  .heading-md {
    @apply text-sm sm:text-base font-medium text-slate-800 leading-tight;
  }

  .subheading {
    @apply 2xl:text-lg sm:text-base text-sm text-slate-300 font-normal leading-relaxed md:max-w-[50%] max-w-full;
  }

  .text-body {
    @apply 2xl:text-lg sm:text-base text-sm text-bodylight font-normal leading-relaxed;
  }

  .text-body-md {
    @apply sm:text-sm text-xs text-mainbody font-normal leading-relaxed;
  }

  .section-label {
    @apply text-sm font-medium uppercase tracking-wide text-gradient;
  }

  .text-gradient {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .bg-gradient {
    background: linear-gradient(131.31deg, #007BFF 50.33%, #00D4FF 100.33%);
  }

}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-text-animate {
  background-image: linear-gradient(90deg,
      #aeaeae 0%,
      #ffffff 45%,
      #a1e6ff 100%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-move 8s ease-in-out infinite;
}



html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}


.trusted-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}